<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhairyashah.khoj">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:screenOrientation="portrait">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game.game_MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Wiki.wiki_MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".Game.LevelSelect"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Game.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Game.CluesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Common.ScanActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Common.DetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>